@charset "utf-8";
/* CSS Document */
html{ height: 100%; overflow-y: scroll; }

body{
    margin:0;
    padding:0;
    font-size:14px;
    background-image:url(../img/bg.jpg);
    background-position: center center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    background-color: #fe5900 !important;
}
body.admin{
    background-image:none;
}

body.no-bg{
    background-image: none;
}

.logo{
    height:60px;
}
.navbar{
    min-height: 80px;
    background-color: #ffffff;
    background-image: none;
    box-shadow: 0px 1px 7px 1px rgba(0,0,0,0.12);
}
.question-box{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    color: #e9ecef;
}
#question-form{
    margin:0 auto;
}
#message{
    padding:10px;
    margin:10px 0;
}
.btnSpk{
    padding: 5px;
    font-size: 0.8em;
    width:125px; margin-right:3px;
}
#refProgress {
  width: 100%;
  background-color: grey;
  position:relative;
}

#refBar {
  width: 1%;
  height: 30px;
  background-color: green;
}

#timeleft{
    position:absolute;
    top:4px;
    right:10px;
    color:#ccc;
}
.links{
    background-color:#ccc;
    padding:10px;
}
.links a{
    color:#cc0000;
    text-decoration:none;
}
#ques_count{
    display:inline-block;
}
.input-group{
    margin-bottom:5px;
}
h3{
    font-size: 1.5em;
    color: #f8f9fa;
}
.content{
    position:relative;
    height:80vh;
}
#register-form,
#login-form{
    width:100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
    background-color:rgba(0,0,0,0.25);
    padding:20px 30px;
    border-radius:6px;
}
#register-form h6,
#login-form h6{
    color:#fff;
    text-transform:uppercase;
}
.form-control{
    border-radius: 0;
    padding: 5px 10px;
    font-size: 1.25em;
    border: none;
}
.login-button{
    background-color:#fe5900;
    border:none;
    opacity:0.6;
}
.login-button:hover{
    background-color:#fe5900;
    opacity:1;
}


form#add-poll{
    text-align:left;
}
form#add-poll .form-control{
    border: 1px solid #ccc;
}

form#add-poll label{
    margin:0 0 10px 0;
}


/*#polls{
    min-height:400px;
}*/
.pollques .col-12{
    padding: 0;
}
.pollques form{
    text-align:left;
    margin:0;
    padding: 20px 10px;
}

.pollopts{
    display:inline;
}
.pollques h6{
    width: 100%;
    background-color: #ffc107;
    color: #f8f9fa;
    font-size: 1em;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0;
}

.progress{
    margin-bottom:10px;
    
}


.corrans{
    border:2px solid #079007;
}
.wroans{
    border:2px solid #AD0808;
}

.sendmsg{
    border:1px solid #ccc;
}

.me{background-color:#ccc;color:#333}.you{background-color:#333;color:#ccc}.team{background-color:#e80e1e;color:#fff;padding:3px}

#chat-area{background-color:#e9ecef;color:#6c757d;border:1px solid #6c757d;width:80%;height:calc(100vh - 100px);border-radius:4px;margin:10px auto}#chat-area #chat-members{width:35%;border-right:1px solid #6c757d;float:left;height:100%}#chat-area #chat-members #member-heading{font-size:1.25em;text-align:center;border-bottom:1px solid #6c757d;padding:10px;padding:25px;height:70px}#chat-area #chat-members #chat-users{height:calc(100% - 70px);overflow:auto}#chat-area #chat-members #chat-users ul.chatusers{list-style:none;padding:0;margin:0}#chat-area #chat-members #chat-users ul.chatusers li{padding:10px 20px;border-bottom:1px solid #dae0e5;font-weight:600;font-size:1em}#chat-area #chat-members #chat-users ul.chatusers li span{display:block;font-size:0.7em;font-weight:100}#chat-area #chat-members #chat-users ul.chatusers li span.badge{display:inline-block;margin-left:3px;font-size:0.7em}#chat-area #chat-members #chat-users ul.chatusers li:hover{background-color:#dae0e5;cursor:pointer}#chat-area #member-chats{width:65%;float:left;height:100%}#chat-area #member-chats #chats-heading{height:70px;border-bottom:1px solid #6c757d;padding:10px 25px}#chat-area #member-chats #chats-heading h3{font-size:1.25em;margin-bottom:5px}#chat-area #member-chats #chats-heading h4{font-size:1em}#chat-area #member-chats #member-chat-history{height:calc(100% - 100px)}#chat-area #member-chats #member-chat-history #chat-history{height:calc(100% - 100px);overflow:auto}#chat-area #member-chats #member-chat-history #chat-history ul li{position:relative;border-bottom:1px solid #dae0e5}#chat-area #member-chats #member-chat-history #chat-history ul li span.time{display:inline-block;position:absolute;top:5px;right:5px;font-size:0.75em}#chat-area #member-chats #team-chat-form{height:100px;padding:10px 30px}#chat-area #member-chats #team-chat-form textarea{font-size:0.8em}#chat-area #member-chats #team-chat-form .send_teamchat{border:0;background-color:#c00;padding:5px 12px;color:#fff;font-size:0.8em}