	/*template - 3*/
@charset "utf-8";
/*template - 3*/
.t3background{ position: fixed; top: 0; left: 0; width: 100%; height: 100%;}
.t3TopleftCorner{ position: absolute; top: 0; left: 0; width: auto; height: auto;z-index: 1;}
.t3BottomCorner{ position: absolute; bottom: 0; right: 0; width: auto; height: auto;z-index: 1;}
.t3Bg{ position: absolute; bottom: 0; height: auto; max-height: 100%; left: 0; width: 100%;}
.t3body{ position: relative; z-index: 2; padding: 100px 0 20px; min-height: 100vh;}
.t3Left{ padding-left: 0; padding-right: 60px}
.t3ssnImg{position: relative; margin-bottom: 65px; height: 500px;}
.t3ssnImgBg{ border-radius:60px 60px 0 0; -webkit-border-radius:60px 60px 0 0;}
.t3ssnImg .overlay{ background-color: #2e2c5e; opacity: 0.7; border-radius:60px 60px 0 0; -webkit-border-radius:60px 60px 0 0;}
.t3SsnTtl{ position: absolute; top:20px; left: 0; width: 100%; padding: 30px; z-index: 1;}
.t3SsnTllTxt{ position: relative; padding-bottom: 10px;}
.t3SsnTllTxt:after{ width: 80px; height: 4px; background-color:#931f82; content: ""; position: absolute; bottom: 0; left: 0}
.t3DteTimePrnt{ margin-top:20px;}
.t3DteTime img{ margin-right: 5px; max-width: 22px; max-height: 22px; display: inline-block; vertical-align: middle;}
.t3DteTime{ margin-right: 30px;}
.t3DocSec{ padding:0 30px; position: absolute; left: 0; bottom: -65px; z-index: 2;}
.t3LogoMobile{ display: none;}
.t3DocPic{ float: left; width: 210px; height: 210px; border-radius: 30px; -webkit-border-radius: 30px; overflow: hidden; margin-right: 20px;}
.t3DocName{ margin-top: 12px;}
.t3DocSpecl{ margin-top: 4px;}
.t3DocDtls{ margin-top: 10px;}
.t3DocSec a{ display: inline-block; width: 100%;}
.t3SsnContent{ margin-top: 40px;}
.december{ margin-top: 50px;}
.december h5{ margin-bottom: 5px;}
.december p{ font-size: 8px; }
.footer_Main{ margin-top: 30px; position: relative;  margin-bottom: 30px;}
.poweredBy{ float: left; margin-top: 15px; position: relative; z-index: 3;}
.poweredBy span{ display: inline-block;}
.poweredBy img{ max-height: 30px; max-width: 150px; margin-left: 8px;}
.bottomBar{position: absolute; bottom: 0; left: 0; width: 100%; height:15px;
	
background: #b22485; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #b22485 0%, #642a7b 100%); 
background: -webkit-linear-gradient(-45deg,  #b22485 0%,#642a7b 100%); 
background: linear-gradient(135deg,  #b22485 0%,#642a7b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22485', endColorstr='#642a7b',GradientType=1 ); 
}
.topBar{ position: absolute; top: 0px; width: 100%; height: 15px;
background: #b22485; 
background: -moz-linear-gradient(-45deg, #b22485 0%, #642a75 100%); 
background: -webkit-linear-gradient(-45deg, #b22485 0%,#642a75 100%); 
background: linear-gradient(135deg, #b22485 0%,#642a75 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22485', endColorstr='#642a75',GradientType=1 );}
.brandImg{ position: absolute; bottom: 40px; right: 4%; max-height: 140px; opacity: 0.4}
.t3Right{ padding:0;}
.allegraLogo{ width: auto; height: auto; max-width: 270px; max-height: 128px;}

.t3Frm{ margin-top: 30px;}
.frmPart{ padding: 20px; border-top:5px solid #462a74; box-shadow: 0 5px 25px 0 rgba(0,0,0,0.25);}
.frmInfo{ padding-left: 54px; position: relative; margin: 15px 0 25px; font-size: 10px;}
.frmInfo img{ position: absolute; top: 0; left: 0; width: 42px; height: 42px;}
.frmInfo p{ font-size: 8px;}

.form_row{ margin:0 0 26px 0; text-align:left; position:relative;}
.form_row.last{ margin-bottom:0px;}
.form_row_in{ position: relative;}
.frmPart .form_row input[type="text"],.frmPart .form_row input[type="number"],.frmPart .form_row input[type="password"],.frmPart .form_row input[type="email"],.frmPart .form_row input[type="tel"], .frmPart .form_row input[type="url"],.frmPart .form_row textarea,.frmPart .form_row select{ background-color: #fff; background-repeat: no-repeat; border-bottom:2px solid #585858; color:#585858; float: left;  height: 44px;  padding:0; border-radius:0; -webkit-border-radius:0; box-shadow:none; width:100%; float:left; transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
.frmPart .form_row textarea{ resize: none; height: 80px; padding:5px 0 15px 0;}
.frmPart .form_row input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 40px white inset !important;
}

.frmPart .regFrmRowEffct{ position:relative;}
.frmPart .regFrmRowEffct .reg_input_efect{ position:relative; z-index:1; background-color:transparent !important;}
.frmPart .regFrmRowEffct label{ position:absolute; left:0; top: 50%; transform: translateY(-50%);margin:0px; padding:0; font-weight:500; font-size:14px; color:#282828; transition:all 0.3s ease-in-out;-webkit-transition:all 0.3s ease-in-out;-ms-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;}
.frmPart .regFrmRowEffct.regFormRowHvr .reg_input_efect{ position:relative; z-index:0; border-bottom:2px solid #462a74;}
.frmPart .regFrmRowEffct.regFormRowHvr label{  z-index:1; color:#462a74; top:-1px; font-weight:700; font-size:12px;}
.form_rowSubmit{ width:100%; padding: 15px 20px; text-align: center;}
.form_rowSubmit img{ margin-left: 5px;}
.form_rowSubmit:hover{ background-color:#931f82;}



.checkbox_custom_row_check { margin: 0; position: relative; display: inline-block;}
.checkbox_custom_row_check .checkbox_custom{opacity:0;position:absolute;margin:0;left:0;top:0;z-index:1;width:100%;height:100%;cursor:pointer}
.checkbox_custom_row_check .checkbox_custom_label { position:relative;color:#6e6e6e;padding-left:28px;display:inline-block;cursor:pointer;margin:0;line-height:18px ; color: #282828}
.checkbox_custom_row_check .checkbox_custom_label:before { height: 18px; width: 18px; border-radius: 4px; -webkit-border-radius: 4px ; border: 2px solid #462a74; position: absolute; left: 0; top: 0; content: "";background-color:#fff;}
.checkbox_custom_row_check .checkbox_custom_label:after {
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	border-radius: 0;
	-webkit-border-radius: 0;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	background-image: url(../images/check_white.png);
	background-size: 11px; position: absolute; content: ""; z-index: 1;
}
.checkbox_custom_row_check .checkbox_custom:checked+.checkbox_custom_label:before {
	background-color: #462a74;
}
.form_row_TandC a{ display: inline-block; margin-left: 5px;}

.drNameFrm{ padding-left: 65px;}
.drNameFrmName{ position: absolute; left: 0px; width: 60px; text-align: right;top: 50%; transform: translateY(-50%); transform: translateY(-50%);}
.cntryCdFrm{ padding-left: 65px;}
.frmPart .form_row select.cntryCdFrmSlct{ position: absolute; left: 0; top: 50%; transform: translateY(-50%); transform: translateY(-50%); height: 100%; background-color: #fff; width:60px; border: none; border-radius: 6px; -webkit-border-radius: 6px; padding:0 0 0 20px; background-image: url(../images/down-arrow.png); background-position: left  center; background-size: 9px; font-weight: 500; text-align: right;}

/*p_videoMain*/
.p_videoMain{position: relative; z-index: 2; padding: 0 0 50px; min-height: 100vh;}
.p_videoBnnr{ position: relative; height: 550px; background-color: #46277a; margin-bottom: 210px;}
.p_videoBnnrBg{ position: absolute; top: 0; left: 0; }
.p_videoBnnr .container{ position: relative; z-index: 1}
.p_videologo{ width: 200px; height: 109px; border-radius: 0 0 6px 6px; position: relative;}
.p_videologo img{ max-width: calc(100% - 20px); max-height: calc(100% - 20px); position: absolute; transform: translate(-50%, -50%); left: 50%; top: 50%;}
.p_videoExit{ color: #d51833; display: inline-block; padding: 12px 25px; background-color: #fff; }
.p_videoExit img{ margin-left: 5px; display: inline-block; vertical-align: middle;}
.p_videoExit span{ display: inline-block; vertical-align: middle;}
.p_videoExit:hover{ background-color: #b22385; color: #ffffff;}
.p_videoExit:hover img{ filter: brightness(0) invert(1); -webkit-filter: brightness(0) invert(1);}
.p_videoBnnr header{ margin-bottom: 8px;}
.p_videoBox{ height: 600px; background-color: #462a74; position: relative; box-shadow: 0 10px 24px 0 rgba(0,0,0,0.15); overflow: hidden}
.p_videoBoxPlay{ width: calc(100% - 430px); height: 100%; float: left}
.p_videoBoxPlay iframe{ width: 100%; height: 100%;}
.video_right{ width: 430px; position: absolute; top: 0; right: 0px;  z-index: 1; background-color: #EDEDED; height: 100%; padding-left: 20px;}
.video_right .nav{ padding: 10px 15px; border: none; background-color: transparent;}
.video_right .nav .nav-item{ color: #bb4495; border-radius: 6px; padding: 0 20px; height: 46px; line-height: 46px; border: none; background-color: transparent; margin-right: 10px;}
.video_right .nav .nav-item.active{ color: #ffffff;background-color: #bb4495;}

.video_right .tab-content{ position: relative;  border-top: 2px solid #ffffff; height: 100%;}
.video_right.tabAllow .tab-content{height: calc(100% - 64px); height: -webkit-calc(100% - 64px);}
.video_right .tab-pane{ height: 100%;  padding-bottom: 50px;}
.videoTab_ttl{ width: 100%; padding: 12px  15px; line-height: 1.4; position: absolute; top: 0; left: 0; z-index: 1; border-bottom: 2px solid #EDEDED;}
.videoTab_ttl h2{ margin-bottom: 6px;}

.videoTab_ttl a{ color: #1689c5}
.videoTab_ttl a:hover{ color: #b22385}
.videoContactPrblm{ margin-bottom: 6px;}
.videoFrm{ position: absolute; bottom: 0px; width: 100%; height: 50px; background-color: #fff; box-shadow: 0 -4px 15px 0 rgba(0,0,0,0.15);}
.videoFrm form{ width: 100%; height: 100%; position: relative;}
.videoFrmSend{ width: 50px; position: relative; height: 100%; float: right}
.videoFrmSend:hover{ background-color: #462a74;}
.videoFrmSend img{ position: absolute; max-height: 24px; max-width: 24px;}
.videoFrmInput{ width: calc(100% - 70px); width: -webkit-calc(100% - 50px); height: 100%; padding: 0 14px; float: left; font-weight: 500;}
.videoComments{ padding: 15px; height: 100%; overflow-y: scroll;}
.videoComments .row{ margin: 0; height: 100%;}
.videoCommentBy{ margin-bottom: 4px}
.videoCommentBy span{ display: block; margin-top: 3px;}
.videoCommentsRow p{ line-height: 1.4}
.videoCommentsRow{ padding-left: 10px; margin-bottom: 15px; position: relative;}
.videoCommentsRow:last-child{ margin-bottom: 10px;}
.videoCommentsRow:before{ position: absolute; left: 0px; top: 0px; width: 3px; background-color: #c7c7c7; content: ""; height: 100%;}

.video_collapse{ width: 20px; left: 0px; background-color: #cbcbcb; position: absolute; top: 0; height: 100%; z-index: 2; cursor: pointer;}
.video_collapse img{ position: absolute; max-width: 10px; transform: translate(-50%) rotate(180deg);-webkit-transform: translate(-50%) rotate(180deg); top: 50%; left: 50%;}
.videoRightShow .video_right{ transform: translateX(410px);}
.videoRightShow .video_collapse img{ transform: translate(-50%) rotate(0);-webkit-transform: translate(-50%) rotate(0);}
.videoRightShow .p_videoBoxPlay{ width: calc(100% - 20px);}

.videoComments .mCSB_scrollTools a+.mCSB_draggerContainer{ margin: 0!important}
.videoComments .mCSB_scrollTools .mCSB_draggerRail{ border: none;width: 2px!important;background: #acacac!important}
.videoComments .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ dth: 2px!important; background: #3782f5!important }
.videoComments .mCSB_inside>.mCSB_container{ margin-right: 0!important }
.videoComments .mCS-dark.mCSB_scrollTools .mCSB_buttonDown, .videoComments .mCS-dark.mCSB_scrollTools .mCSB_buttonUp{ display: none!important }
.videoComments .mCSB_scrollTools{ width: 2px }

.videoSurveyTab .videoTab_ttl{ position: relative; float: left; margin-bottom: 30px;}
.videoSurveyIn{ padding: 15px;}
.videoSurveyQsn{padding-left: 20px; margin-bottom: 30px; position: relative;}
.videoSurveyQsn:before{ position: absolute; left: 0px; top: 0px; width: 3px; background-color: #c7c7c7; content: ""; height: 100%;}
.videoSurveySubmit .videoFrmSend{ width: 100%; color: #ffffff;}


.checkbox_custom_row { margin: 0 0 15px 0; position: relative; display: inline-block;}
.checkbox_custom_row .checkbox_custom{opacity:0;position:absolute;margin:0;left:0;top:0;z-index:1;width:100%;height:100%;cursor:pointer}
.checkbox_custom_row .checkbox_custom_label { position:relative;color:#6e6e6e;padding-left:30px;display:inline-block;cursor:pointer;margin:0;line-height:21px ; color: #282828}
.checkbox_custom_row .checkbox_custom_label:before { height: 21px; width: 21px; border-radius: 50%; -webkit-border-radius: 505 ; border: 2px solid #282828; position: absolute; left: 0; top: 0; content: "";background-color:transparent;}
.checkbox_custom_row .checkbox_custom_label:after {
	top: 4px;
	left: 4px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	-webkit-border-radius: 50%; position: absolute; content: ""; z-index: 1;
}
.checkbox_custom_row .checkbox_custom:checked+.checkbox_custom_label:before {
	border-color: #b22485;
}
.checkbox_custom_row .checkbox_custom:checked+.checkbox_custom_label:after {
	background-color: #b22485;
}
.checkbox_custom_row .checkbox_custom:checked+.checkbox_custom_label {
	color: #b22485;
}

.p_videoTtl{ padding-bottom: 8px; border-bottom: 2px solid #e1e1e1; margin-bottom: 20px;}
.videoSsnCntnt{padding: 0px 0 0 40px;}
.videoSsnCntntTtl{ position: relative; padding: 15px 0; margin-bottom: 20px;}
.videoSsnCntntTtl:before,.videoSsnCntntTtl:after{ content: ""; position: absolute; height: 3px; bottom: 0px;}
.videoSsnCntntTtl:before{ left: 0px; background-color: #462a74; width: 25px;}
.videoSsnCntntTtl:after{ left: 25px; width: 75px; background-color: #b22485;}
.videoDocSlid{ padding-bottom: 15px;}
.videoDoc{ padding: 0 0 0 0; overflow: hidden;}
.videoDocIn{ overflow: hidden; box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.1); }
.videoDocTtl{ padding: 15px 20px;}
.videoDocInBody{ padding: 15px 20px;}
.videoDocDtls{ padding-left: 110px; padding-top: 15px; min-height: 90px; margin-bottom: 20px; position: relative;}
.videoDocDtls h5{ margin-bottom: 4px;}
.videoDocPic{ border: 7px solid #ececec; overflow: hidden; width: 90px; height: 90px; position: absolute; left: 0px; top: 0;}
.p_videoBoxPlay >div{ height: 100%;}
body>#flowplayer-floating-container{ position: fixed !important; left: auto !important; right: 3% !important; width: 400px !important; bottom: 20px !important; z-index: 5}




.videoDoc .slick-arrow{ top: 60%; transform: translateY(-50%); position: absolute; z-index: 3; background-color: rgba(152,36,135,0.25); width: 28px; height: 28px; font-size: 0; background-repeat: no-repeat; background-position: center; border-radius: 50%; -webkit-border-radius: 50%; background-size: 5px;}
.videoDoc .slick-arrow.slick-prev{ left: 2%; background-image: url(../images/prevArrow.png);}
.videoDoc .slick-arrow.slick-next{ left: auto; right:2%;  background-image: url(../images/nextArrow.png);}
.videoDoc .slick-arrow:hover{ background-color: rgba(152,36,135,1);}


/*termsPage*/
.termsPage{ position: relative; z-index: 1; min-height: 100vh; padding: 70px 0;}
.termsTtl{ margin-bottom: 30px; position: relative; padding-bottom: 20px;}
.termsTtl:before,.termsTtl:after{ position: absolute;  left: 0px; content: ""; border-radius: 4px; -webkit-border-radius: 4px;}
.termsTtl:before{ bottom: 1px; width: 100%; background-color: #d1d1d1; height: 1px;}
.termsTtl:after{ bottom: 0px; height: 3px; background-color: #b22485; width: 50px;}
.termsPage ul{ margin-bottom: 20px;}
.termsPage ul li{ position: relative; padding-left: 20px; margin-bottom: 15px;}
.termsPage ul li:before{ position: absolute; left: 0px; top:7px; width: 8px; height: 8px; border-radius: 2px; background-color:#b22485; content: "";}

/*Temp 2*/
.t2body{ position: relative;z-index: 1; min-height: 100vh; padding-bottom: 30px;}
.t2bnr{ position: relative; height: 240px; background-color: #462a74; margin-bottom: 110px;}
.t2bnr .container{ position: absolute; transform: translateX(-50%); -webkit-transform: translateX(-50%); height: 100%; z-index: 1; left: 50%;}
.t2Logo{ width: 220px; height: 116px; background-color: #FFFFFF; position: absolute; border-radius: 10px 10px 0 0; -webkit-border-radius: 10px 10px 0 0; right: 0px; bottom: 0px;}
.t2Logo img{ position: absolute; max-height: calc(100% - 40px); max-width: calc(100% - 40px);}
.t2ssnTtl{ position: absolute; top:25%; left: 0;}
.t2DteTimePrnt{ margin-top: 20px;}
.t2Doc{ width: calc(100% - 280px); padding-left: 220px; min-height: 200px; padding-top: 40px; position: absolute; left: 0px; bottom: -100px;}
.t2DocPic{ border: 9px solid #FFFFFF; width: 200px; height: 200px; overflow: hidden; position: absolute; left:0px; top: 0px; }
.t2DocName span{ display: block;}
.t2DocNameDes{ margin-top: 25px;}
.t2Frm{ padding: 0px;}
.t2Ssnlft{ padding-right: 50px;}
.t2SsnMain{ margin-top: 50px; margin-bottom: 30px;}
.t2Ssnlft{ position: relative; height: 340px;}
.t2Ssnlft:before{ position: absolute; background-color: #cdbaeb; width: 112px; height: 112px; content: ""; right: 50px; bottom: 0px; border-radius: 20px;}
.t2ssnPic{ width: 55%; border-radius: 50px 0 0 50px; overflow: hidden; position: relative; height: 100%;}
.t2SsnDescr{ position: absolute; z-index: 2; width: 55%; right: 80px; background-color: #fff; padding: 30px; box-shadow: 2px 5px 18px 0 rgba(0,0,0,0.25);}
.mobilet2Doc{ display: none;}
/*temp 4*/
.t4body{ position: relative; min-height: 100vh; padding-bottom: 20px;}
.t4bnr{ position: relative; height: 300px;}
.t4bnr img.object_fit_cover{ z-index: 2; position: relative;}
.t4bnr .overlay{ background: rgba(126,61,140,1);
background: -moz-linear-gradient(top, rgba(126,61,140,1) 0%, rgba(47,44,97,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(126,61,140,1)), color-stop(100%, rgba(47,44,97,1)));
background: -webkit-linear-gradient(top, rgba(126,61,140,1) 0%, rgba(47,44,97,1) 100%);
background: -o-linear-gradient(top, rgba(126,61,140,1) 0%, rgba(47,44,97,1) 100%);
background: -ms-linear-gradient(top, rgba(126,61,140,1) 0%, rgba(47,44,97,1) 100%);
background: linear-gradient(to bottom, rgba(126,61,140,1) 0%, rgba(47,44,97,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e3d8c', endColorstr='#2f2c61', GradientType=0 ); }
.t4bnr .container{ position: absolute; z-index: 3; transform: translateX(-50%); left: 50%; -webkit-transform: translateX(-50%);}
.t4Logo{ width: 220px; height: 116px; float: right; background-color: #FFFFFF; position: relative; border-radius: 0 0 40px 40px; -webkit-border-radius: 0 0 40px 40px;}
.t4Logo img{ position: absolute; max-height: calc(100% - 40px); max-width: calc(100% - 40px);}

.t4TtlMain{ margin-bottom: 20px}
.t4bodyIn{ position: relative; z-index: 4; margin-top: -160px; }
.t4DteTimePrnt{ padding: 0px;}
.t4TtlLft{ padding-left: 0px; padding-right: 30px;}
.t4DteTimePrnt .t3DteTime{ margin-right: 15px;}
.t3DteTime:last-child{ margin-right: 0px;}
.t4RghtFrm{ padding: 0px;}
.t4body .frmPart{  border-top:5px solid #b22485; background-color: #ffffff;} 
.t4SsnBnr{ border: 5px solid #ffffff; position: relative; height: 290px; margin-bottom: 20px;}
.t4TtlLft{ padding-right: 50px; }
.t4SsnMain{ margin-bottom: 50px;}
.t4DocListTtl{ margin-bottom: 30px}

.t4Slider{ padding: 0 70px; margin-bottom: 20px;}
.t4Slider .slick-arrow{ top: 60%; transform: translateY(-50%); position: absolute; z-index: 3; background-color: rgba(152,36,135,0.7); width: 40px; height: 40px; font-size: 0; background-repeat: no-repeat;
background-position: center; border-radius: 50%; -webkit-border-radius: 50%; background-size: 10px;}
.t4Slider .slick-arrow.slick-prev{ left: 0; background-image: url(../images/prevArrow.png);}
.t4Slider .slick-arrow.slick-next{ left: auto; right:0;  background-image: url(../images/nextArrow.png);}
.t4Slider .slick-arrow:hover{ background-color: rgba(152,36,135,1);}
.t4DocPic{ border: 5px solid #e7e7e7; width: 120px; height: 120px; overflow: hidden; display: inline-block; margin-bottom: 10px;}


/*Temp 1*/
.t1body{ position: relative; padding: 30px 0; min-height: 100vh}
.t1bodyIn{ padding-top:20px}
.t1Bnnr{ position: relative; height: 400px; margin-bottom: 30px;}
.t1Doc{ position: absolute; left: 0px; width: 50%; height: 100%;}
.t1Doc:before{background: rgba(172,33,128,1); content: ""; position: absolute; top: 0; left: 0; height: 100%; width: 100%;
background: -moz-linear-gradient(-45deg, rgba(172,33,128,1) 0%, rgba(70,42,116,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(172,33,128,1)), color-stop(100%, rgba(70,42,116,1)));
background: -webkit-linear-gradient(-45deg, rgba(172,33,128,1) 0%, rgba(70,42,116,1) 100%);
background: -o-linear-gradient(-45deg, rgba(172,33,128,1) 0%, rgba(70,42,116,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(172,33,128,1) 0%, rgba(70,42,116,1) 100%);
background: linear-gradient(135deg, rgba(172,33,128,1) 0%, rgba(70,42,116,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac2180', endColorstr='#462a74', GradientType=1 ); opacity: 0.84;}
.t1Doc .row{ height: 100%; margin: 0; position: relative; z-index: 2;}
.t1DocIn{  padding: 0 30px;}
.t1DocPic{ width: 110px; height: 110px; display: inline-block; overflow: hidden; margin-bottom: 15px;}
.t1docName{ margin-bottom: 20px;}
.t1docName span{ margin-top:4px; display: block;}
.t1Logo{ width: 240px; height: 126px;  background-color: rgba(255,255,255,0.8); position: absolute; top: 0; right: 15px; border-radius: 0 0 40px 40px; -webkit-border-radius: 0 0 40px 40px; z-index: 1;}
.t1Logo img{ position: absolute; max-height: calc(100% - 40px); max-width: calc(100% - 40px);}
.t1Main{ margin-bottom: 40px}
.t1Frm{ padding: 0px;}
.t1Ssn{ padding-right:50px;}
.t1SsnTtl{ margin-bottom:20px;}
.t1DteTimePrnt{ margin-bottom: 30px;}
.t1DteTimePrnt img{ filter: brightness(0.15); -webkit-filter: brightness(0.15)}

.msgHolderMy{ width: 100%; float: left; padding: 10px 15px; border-radius: 6px; -webkit-border-radius: 6px; margin-bottom: 10px;}
.msgHolderMy.eror{ background-color: #fed6d6; color: #c72424; border:1px solid #c72424;}
.msgHolderMy.sucs{ background-color: #cdf5da; color: #2fba47; border:1px solid #2fba47; }
.msgHolderMy-2{ margin-bottom: 5px;}

.msgHolderMy-2.eror{color: #c72424;}
.msgHolderMy-2.sucs{ color: #2fba47; }

/*Temp - 5*/
.t5Bg{ width: 100vw; height: 100vh; position: fixed;}
.t5main{ position: relative; z-index: 3; min-height: 100vh; padding-bottom: 15px}
.t5Topic{ float: left; width: calc(100% - 300px); position: relative; padding-left: 30px;}
.t5Topic:before{ position: absolute; left: 0px; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); content: ""; width: 12px; height: calc(100% - 14px); background-color: #45ab49;}
.t5Header{ padding: 30px 0; background-color: rgba(0,0,0,0.77);}
.t5Logo{ float: right;}
.t5Logo img{  max-height: 82px; max-width: 204px;}
.t5Ftr{ padding: 15px 0; background-color: rgba(0,0,0,0.77);}
.t5Ftr .poweredBy img{filter:  invert(0) brightness(10)}
.t5Ftr .december{ margin-top: 0px;}
.t5Ftr .december .font_14px{ margin-bottom: 4px;}
.t5Body{ padding: 30px 0; position: relative}
.t5Body .overlay{background: #b22485; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #b22485 0%, #642a7b 100%); 
background: -webkit-linear-gradient(-45deg,  #b22485 0%,#642a7b 100%); 
background: linear-gradient(135deg,  #b22485 0%,#642a7b 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b22485', endColorstr='#642a7b',GradientType=1 ); opacity: 0.75; }
.t5Body .overlay:before{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; content: ""; background-color: rgba(0,0,0,0.6)}
.t5Body .container{ position: relative; z-index: 1;}
.t5BodyIn{ margin-top: 30px;}
.t5BodyIn .row{ margin: 0;}
.t5Frm{ padding: 0 0 0 0;}
.t5Doc{ padding: 0 60px 0 0;}
.t5DocTtlGrps{ position: relative; width: 62px; height: 17px; display: inline-block; vertical-align: middle; margin-left: 5px;}
.t5DocTtlGrps:after,.t5DocTtlGrps:before{ position: absolute; top: 50%; transform: translateY(-50%); content: ""; background-color: #ffffff; right: 0;}
.t5DocTtlGrps:after{ height: 2px; width: 100%; border-radius: 4px; -webkit-border-radius: 4px;}
.t5DocTtlGrps:before{ width: 17px; height: 17px; border-radius: 50%; -webkit-border-radius: 50%;}
.t5Docin{ margin-top: 30px;}
.t5DocRow{ position: relative; margin-bottom: 30px;  }
.t5DocPic{ border: 5px solid #ffffff; overflow: hidden;  width: 160px; height: 160px; left: 0px;}
.t5DocCont{ padding: 0 0 0 20px;}
.t5DocName{ margin-bottom: 3px;}
.t5DtTmAreaLeft{ float: left; width: calc(100% - 420px);}
.t5Live{ background-color: #45ab49; padding: 7px 14px; margin-top: 13px; display: inline-block;}

.t5CountDownIn{ padding: 10px 10px; border: 1px solid #FFF; background-color: rgba(255,255,255,0.15); float: right; border-radius: 10px; -webkit-border-radius: 10px; text-align: center;}
.t5CountDownIn span{ display: inline-block; vertical-align: middle; margin: 0 10px; }
.t5CountDownIn span h6{ display: block; font-size: 14px; font-weight: 400;}
.t5liveNowBttn{ float: right; padding: 15px 20px; color: #e02121; background-color: #ffffff; box-shadow: 0 5px 20px 0 rgba(0,0,0,0.15); border-radius: 10px; -webkit-border-radius: 10px;}
.t5liveNowBttn img,.t5liveNowBttn span{ display: inline-block; vertical-align: middle;}
.t5liveNowBttn img{ margin-left: 4px; max-width: 34px; max-height: 27px;}
.t5completedStts{color: #2966ca; border: 2px solid #2966ca;}


/*Temp - 6*/
.temp-6{ position: relative;}
.t6Bnr{ position: relative; height: 360px; margin-bottom: 70px;}
.t6BnrBgArea{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden;}
.t6BnrBg{ filter: blur(6px); -webkit-filter: blur(3px);}
.t6BnrBgArea > .overlay{ background-color: #1b1d1b; opacity: 0.7;}
.t6Bnr .container{ position: relative; z-index: 2;}
.t6Header{ position: relative; height: 104px; position: relative; z-index: 2;}
.t6HdrRight{ float: right; padding: 14px 0;}
.t6HdrRight img{ max-width: 240px; max-height: 54px;}
.t6HdrRight span{ display: block; margin-bottom: 3px;}
.t6HdrLeft{ position: relative; height: 100%; float: left; max-width:50%;}
.t6HdrLeft .row{ height: 100%; margin: 0px;}
.t6HdrLeftLogo{ width: 130px; height: 100%; background-color: #ffffff; float: left; position: absolute;}
.t6HdrLeftLogo:before{position: absolute; content: ""; top: 100%; border-top: 20px solid #ffffff; border-left: 65px solid transparent; border-right: 65px solid transparent; left:0px;}
.t6HdrLeftLogoTxt{ float: left; padding-left: 145px;}
.t6HdrLeftLogo img{ position: absolute; max-height: calc(100% - 14px); max-width: calc(100% - 14px);}
.t6BnrBtm{ height:  300px; background-color: #FFDCDC; position: relative;}
.t6BnrBtm .overlay{ background: rgb(199,158,71);
background: linear-gradient(180deg, rgba(199,158,71,1) 35%, rgba(39,52,131,1) 100%); opacity: 0.75}
.t6BnrBtm .overlay:before{ position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; content: "";
 background-color: rgba(0,0,0,0.65); z-index: 1;}
.t6BnrCont{ padding: 30px; z-index: 2; position: absolute; max-height: 100%;}
.t6DtTmArea{ margin-top: 70px;}
.t6DtTmArea .row{ margin: 0px;}
.t6DtTmAreaLeft{ float: left; width: calc(100% - 420px);}
.t6Live{ border: 2px solid #FFFFFF; padding: 10px 16px; margin-top: 10px; display: inline-block}
.t6Stts{ float: right;}
.t6LiveStts{ border: 2px solid #da4545; background-color: rgba(218,69,69,0.06);float: right;padding: 15px 20px;}
.t6LiveStts img,.t5liveNowBttn span{ display: inline-block; vertical-align: middle;}
.t6LiveStts img{ margin-left: 4px; max-width: 34px; max-height: 27px;}
.t6Body .container > .row{ margin: 0px;}
.t6Body{ padding:25px 0 34px 0}
.t6Doc{ padding: 0 80px 0 0;}
.t6DocTtl{ position: relative; padding-left: 20px;}
.t6DocTtl:before{ position: absolute; left: 0px; height: calc(100% - 10px); content: ""; top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); background-color: #bea672; width: 8px;}
.t6Docin{  margin-top: 22px;}
.t6DocRow{ position: relative; margin-bottom: 15px;}
.t6DocRow:before{ position: absolute; content: ""; left: 63px; width: 2px; height: 100px; background-color: #bea672; bottom: -13px;}
.t6DocRow:last-child{ margin-bottom: 0px;}
.t6DocRow:last-child:before{ display: none;}
.t6DocRow .row{ margin: 0px;}
.t6DocRow p{ padding-bottom: 5px;}
.t6DocPic{ overflow: hidden;  width: 128px; height: 128px; left: 0px; border: 6px solid #fcf0d4; }
.t6DocCont{ padding: 0 20px;}
.t6DocName{ margin-bottom: 3px;}
.t5DocNameInfo{ margin-bottom: 4px;}
.t6DocTime{ padding: 10px;}
.t6DocTime span{ display: block; margin-top: 2px;}
.t6DocRow a{ position: relative; z-index: 1;}
.t6DocRow a:hover span{ color: #462a74;}
.t6DocRowGraph{ width: 29px; height: 29px; right: 0px; position: absolute;}
.t6DocRowGraph:after,.t6DocRowGraph:before{ position: absolute; background-color: #bea672; right: 0px; content: "";}
.t6DocRowGraphTop{ top: 0px;}
.t6DocRowGraphTop:after{ width: 100%; top: 0px; height: 2px;}
.t6DocRowGraphTop:before{ height: 100%; width: 2px; top: 0px;}

.t6DocRowImp .t6DocRowGraph:after,.t6DocRowImp .t6DocRowGraph:before{ background-color: #2463cd;}
.t6DocRowImp .t6DocTime .colorYllow,.t6DocRowImp .t6DocCont p span{ color: #2463cd;}
.t6DocRowImp .t6DocPic{ border-color: #ddeaff;}


.t6DocRowGraphBttm{ bottom: 0px;}
.t6DocRowGraphBttm:after{ width: 100%; bottom: 0px; height: 2px;}
.t6DocRowGraphBttm:before{ height: 100%; width: 2px; bottom: 0px;}

.t6DocSec{margin-bottom: 40px;}
.t6DocSec:last-child{ margin-bottom: 0px;}
.t6Frm{ padding: 0px;}
.temp-6 .frmPart{ border-color: #bea672;}
.t6Ftr{ background-color: #f3f3f3; border-bottom: 8px solid #bea672; padding: 30px 0}
.t6Ftr .december{ margin-top: 0px;}
.t6RightInfo{ background-color: #fffffff; overflow: hidden; box-shadow: 0 0 20px 0 rgba(0,0,0,0.15);}
.t6RightInfoTtl{ padding: 18px;}
.t6RightInfoIn{ padding: 30px 18px;}
.t6RightInfoPic{ display: inline-block; width: 250px; height: 250px; overflow: hidden; margin-bottom: 30px;}
.t6doctorTag{ margin-bottom: 6px; display: inline-block; padding: 3px 7px; background-color: #EEEEEE; font-size: 10px;}
.t6DtTmAreaMobile{ display: none;}
/*video-p*/
.video-p .p_videoBnnr,.video-p .videoFrmSend:hover{ background-color: #059b8f;}
.video-p .bottomBar{ background: #059b8f;}
.bgThmColor2,.video-p .p_videoExit:hover,.video-p .videoSsnCntntTtl:before,.video-p .videoFrmSend{ background-color: #147fcc;}.videoContactPrblm a,.december .colorPink{color: #147fcc !important;}
.video-p .videoSsnCntntTtl:after{ background-color: #282828}
.video-p.withOutRightCmmnt .video_right{ display: none;}
.video-p.withOutRightCmmnt .p_videoBoxPlay{ width: 100%;}
@media screen and (max-width: 767px){
.video-p .videoTab_ttl {background-color: #059b8f !important;}
		
		}


